<div>
  <%= render 'partials/user' %>
</div>

<div class="show_container d_flex">
  <section class="user_bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </section>

  <section class="user_post">
    <% @user.posts.each_with_index do |post, idx|%>
      <div>
        <h3>Post #<%=idx+1%>: <%= post.title %> </h3>
        <p><%= post.text %></p>
      </div>
    <% end %>
  </section>
</div>