<div>
  <%= render 'partials/user' %>
</div>
<div class="post_container d_flex">
  <% @posts.each do |i|%>
    <section class="user_header d_flex">
    <div class="post_details">
      <h3><%= link_to i.title, user_post_path(@user.id, i) %></h3>
      <p><%= i.text %></p>
    </div>

    <div>
      <% if i.comments.empty? %>
        <p>0 Comment</p>
      <% else %>
        <%= i.comments.limit(3).each do |idx| %>
          <p><%= idx.text %> By: <%= idx.author_id %></p>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>