<h1>Post Index Page</h1>

<% @posts.each do |i|%>
  <div class="post_details">
    <h3><%= link_to i.title, user_post_path(@user.id, i) %></h3>
    <p><%= i.text %></p>
  </div>
  <div>
    <%= i.comments.limit(3).each do |idx| %>
      <p><%= comment.text %> By: <%= comment.user.name %></p>
    <% end %>
  </div>
<% end %>