<div class="post_show">
    <div class="post">
        <h3><%= @post.title %></h3>
        <p>Comments: <%= @post.comment_counter %></p>

        <div class="d_flex likes">
          <p>Likes: <%= @post.likes_counter %></p>
          <%= render 'likes/form', locals: { likes: @post.likes.build, post: @post } %>
        </div>
        <%= render 'comments/index', locals: { post: @post } %>
    </div>
    <p><%= @post.text %></p>

    <div class="comments">
      <%= render 'comments/form', locals: {comment: @post.comments.build, post: @post} %>
    </div>
</div>