<div class="post_show">
    <div class="post">
        <h3><%= @post.title %></h3>
        <p>Comments: <%= @post.comment_counter %></p>
        <p>Likes: <%= @post.likes_counter %></p>
    </div>
    <p><%= @post.text %></p>

    <div class="comments">
        <% if @post.comments.empty? %>
          <p>0 Comment</p>
        <% else %>
          <% @post.comments.each do |idx| %>
            <p><%= idx.author.name %> : <%= idx.text %></p>
          <% end %>
        <% end %>
    </div>
</div>